[submodule "submodules/ssrl"]
	path = submodules/ssrl
	url = https://github.com/antsrt/ssrl.git
[submodule "submodules/unitree_ros_to_real"]
	path = submodules/unitree_ros_to_real
	url = https://github.com/antsrt/unitree_ros_to_real.git
[submodule "submodules/unitree_legged_sdk"]
	path = submodules/unitree_legged_sdk
	url = https://github.com/antsrt/unitree_legged_sdk.git
