[submodule "submodules/ssrl"]
	path = submodules/ssrl
	url = https://github.com/antsrt/ssrl.git
[submodule "ssrl_ws/src/unitree_ros_to_real"]
	path = ssrl_ws/src/unitree_ros_to_real
	url = https://github.com/antsrt/unitree_ros_to_real.git
	branch = Aliengo
[submodule "ssrl_ws/src/unitree_ros_to_real/unitree_legged_sdk"]
	path = ssrl_ws/src/unitree_ros_to_real/unitree_legged_sdk
	url = https://github.com/antsrt/unitree_legged_sdk.git
	branch = ALiengo
