<launch>
  <!-- Параметры конфигурации -->
  <arg name="mocap_config_file" default="$(find mocap_optitrack)/config/mocap.yaml" />

  <!-- Mocap node -->
  <node pkg="mocap_optitrack"
        type="mocap_node"
        name="mocap_node"
        output="screen"
        required="true">
    <rosparam file="$(arg mocap_config_file)" command="load" />
  </node>

  <!-- Статическая трансформация NUE -> ENU -->
  <node pkg="tf2_ros"
        type="static_transform_publisher"
        name="static_nue_to_enu_tf"
        args="0 0 0 0 1.5708 0 nue enu"
        output="screen" />

  <!-- Обработка и фильтрация odometry -->
  <node pkg="mocap_optitrack"
        type="vel_estimator_optitrack.py"
        name="vel_estimator_node"
        output="screen"
        respawn="false"
        launch-prefix="python" />
</launch>
